<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wyyproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mipush_notification"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".list.ChineseGedanActivity"></activity>
        <activity android:name=".list.FindTuijianMusicActivity" />
        <activity android:name=".list.MusicTopActivity" />
        <activity android:name=".activity.TopListActivity" />
        <activity android:name=".activity.SongListActivity" />
        <activity android:name=".changpian.MusicActivity" />
        <activity android:name=".changpian.FindTuijianActivity" />
        <activity android:name=".changpian.PaiHangBangMusicActivity" />
        <activity android:name=".activity.TroubleShootingActivity" />
        <activity android:name=".changpian.ChineseActivity" />
        <activity android:name=".list.RecommendedDailyActivity" />
        <activity android:name=".activity.NavigationActivity" />
        <activity android:name=".activity.BeNamedActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.CodeActivity" />
        <activity
            android:name=".activity.PhoneLoginActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VillageOfSelectedActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>